.popover {
	display: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.popover ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 28px;
}

.popover h2 {
	font-size: 16px;
	margin-top: 28px;
	margin-bottom: 0;
	margin-left: 20px;
}

.amenities .popover ul {
	margin-top: 28px;
}

.locations:hover .popover {
	display: block;
}

.amenities:hover .popover {
	display: block;
}
